* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  #Header {
    flex: 0 0 auto;
    background-color: green;
    height: 70px;
    .nav_menu {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        margin-left: 20px;
        text-decoration: none;
        color: black;
      }
    }
  }
  .conteiner {
    flex: 1 0 auto;
    width: 1200px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  #footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: gray;
  }
  .posts {
    list-style-type: none;
    margin: 10px 0;
    > a {
      color: black;
    }
  }
  .title {
    font-size: 50px;
    text-align: center;
  }
  .text {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  }
}
